header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding-top: 9px;
}

.hlogo {
    font-size: 24px;
}

.hrightlinks {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    padding: 9px;
}

.hrowtwo {
    display: flex;
    justify-content: center;
    align-items: center;

}

#placeholder {
    height: 150px;
    width: 300px;
    background-color: gray;
    text-align: center;
}

#hrtwotext {
    font-size: 18px;
    color: #e5e7eb;
}

.hrtchildone {
    width: 300px;
    padding-right: 18px;
}

.hrtchildtwo {
    padding-left: 18px;
}

.headcontainer {
    background-color: #1f2937;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 96px;
    flex: auto; 
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}