header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding-top: 9px;
}

.hlogo {
    font-size: 24px;
}

.hrightlinks {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    padding: 9px;
}

.hrowtwo {
    display: flex;

}

#placeholder {
    height: 150px;
    width: 300px;
    background-color: gray;
    text-align: center;
}

#hrtwotext {
    font-size: 18px;
    color: #e5e7eb;
}

.headcontainer {
    background-color: #1f2937;
    padding-left: 96px;
    padding-right: 96px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}